body {
    background-color: hsl(218, 58%, 4%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    color: #DAE3E5;
}

main {
    background-image: linear-gradient(
        to bottom,
        hsla(215, 60%, 4%, 0.462),
        hsl(215, 60%, 4%)
    ), url("/src/fundo2.jpg");
    background-repeat: no-repeat;    
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > h1 {
    font-size: 3em;
    font-weight: bold;
    margin: 1em;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    margin-bottom: 10em;
}

section > span {
    display: flex;
    background-color: rgba(0, 0, 0, 0.751);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    padding: 2em;
    width: 240px;
    border-radius: 3em;
    gap: 0.2em;
    backdrop-filter: blur(3px);
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

section > span:hover {
    background-color: #04080F;
}

section > span:hover > img {
    height: 150px;
    width: 150px;
}

span > span {
    gap: 0;
    display: flex;
    padding: 0;
    height: 70px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    flex-direction: column;
}

span > span > h3, h4 {
    text-align: center;
    margin: 0 1em;
}

span > span > h4 {
    color: #507DBC;
    font-size: 2em;
}

img {
    height: 120px;
    width: 120px;
    border-radius: 100%;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

div {
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

ul, ol {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 2em;
    border: 2px solid #2f68a1;
    border-radius: 1em;
    padding: 2em;
}

li {
    text-wrap: wrap;
    font-size: 1.5em;
    margin: 0 2em;
}

a {
    text-decoration: inherit;
    color: inherit;
    display: flex;
    max-width: 20em;
    font-size: 3em;
    font-weight: bold;
    line-height: 0.9em;
    background-color: #A1C6EA;
    border: 2px solid #507DBC;
    color: #507DBC;
    padding: 1em;
    border-radius: 0 1em 1em 1em;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

a:hover {
    background-color: #2f68a1;
    color: #DAE3E5;
}

h1 {
    font-size: 4em;
    line-height: 1em;
    font-weight: 100;
}

@media (min-width: 1300px) {
    main {
        height: 100vh;
    }

}